{% extends "SafeComAppFrontend/index.html" %}


  {% block content %}
<h1>Registro de Personas</h1>

<form action="{% url 'doborrarPersona' %}" method="POST">

    {% csrf_token %}

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputCedula">Cedula</label>
            <input class="form-control" id="inputCedula" name="inputCedula" type="text" value="{{person.identification}}" required readonly>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputName">Nombre</label>
            <input class="form-control" id="inputName" name="inputName" type="text" value="{{person.name}}" required>
        </div>
        <div class="form-group col-md-4">
            <label for="inputPrimerApe">Primer Apellido</label>
            <input class="form-control" id="inputPrimerApe" name="inputPrimerApe" type="text" value="{{person.first_lastname}}" required>
        </div>
        <div class="form-group col-md-4">
            <label for="inputSegundoApe">Segundo Apellido</label>
            <input class="form-control" id="inputSegundoApe" name="inputSegundoApe" type="text" value="{{person.second_lastname}}" required>
        </div>
    </div>

    <button class="btn btn-secondary" type="submit">Borrar</button>

</form>
<br>

{% block messages %}
    {% if success %}

        <div class="alert alert-success" role="alert">
            {{success}}
        </div>

    {% endif %}

    {% if error %}

        <div class="alert alert-danger" role="alert">
           {{error}}
        </div>

    {% endif %}

{% endblock %} <!-- END MESSAGES BLOCK -->



{% endblock %}