{% extends "SafeComAppFrontend/index.html" %}


  {% block content %}
<h1>Eliminar visita</h1>

<form action="{% url 'doborrarBloqueo' %}" method="POST">

    {% csrf_token %}

        <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputBloqueo">Numero de bloqueo</label>
            <input class="form-control" id="inputBloqueo" name="blacklist_id" type="text" value="{{bloqueo.blacklist_id}}" required readonly>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputCedula">Cedula</label>
            <input class="form-control" id="inputCedula" name="inputCedula" type="text" value="{{bloqueo.visitor.identification}}" required readonly>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputName">Nombre</label>
            <input class="form-control" id="inputName" name="inputName" type="text" value="{{bloqueo.visitor.name}}" required readonly>
        </div>
        <div class="form-group col-md-4">
            <label for="inputPrimerApe">Primer Apellido</label>
            <input class="form-control" id="inputPrimerApe" name="inputPrimerApe" type="text" value="{{bloqueo.visitor.first_lastname}}" required readonly>
        </div>
        <div class="form-group col-md-4">
            <label for="inputSegundoApe">Segundo Apellido</label>
            <input class="form-control" id="inputSegundoApe" name="inputSegundoApe" type="text" value="{{bloqueo.visitor.second_lastname}}" required readonly>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputName">Causa/Razon</label>
            <textarea class="form-control" id="inputRazon" name="inputRazon" type="area" required readonly>{{bloqueo.reason}}</textarea>
        </div>
    </div>

    <button class="btn btn-secondary" type="submit">Eliminar</button>

</form>
<br>

{% block messages %}
    {% if success %}

        <div class="alert alert-success" role="alert">
            {{success}}
        </div>

    {% endif %}

    {% if error %}

        <div class="alert alert-danger" role="alert">
           {{error}}
        </div>

    {% endif %}

{% endblock %} <!-- END MESSAGES BLOCK -->







<!-- Modal -->
<div class="modal fade" id="tablaPersonasModal">
    <div class="modal-dialog modal-bigger">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="col-12 modal-title text-center">
                    Seleccionar Persona
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h1>
            </div>
            <div class="modal-body">
                <div class="container-fluid text-center">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-striped" id="tablaPersonas">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Cédula</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Primer Apellido</th>
                                        <th scope="col">Segundo Apellido</th>
                                        <th scope="col">Accion</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for person in persons %}
                                    <tr>
                                        <td>{{person.identification}}</td>
                                        <td>{{person.name}}</td>
                                        <td>{{person.first_lastname}}</td>
                                        <td>{{person.second_lastname}}</td>
                                        <td>
                                            <button onclick="javascript:fillPersonData('{{person.identification}}','{{person.name}} {{person.first_lastname}} {{person.second_lastname}}')" type="button" class="btn btn-secondary" id="seleccionador">
                                                <span>Seleccionar</span>
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <input id="isSubmit" type="hidden" value="false"/>
                            <input id="cedulax" type="hidden"/>
                            <input id="nombrex" type="hidden"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<style>
     .modal-bigger{
            max-width: 80% !important;
     }
</style>
<script>
    function fillPersonData(id,name){
        $("#inputCedula").val(id);
        $("#inputNombre").val(name);
    }

</script>
{% endblock %} <!-- End content sobreescrito -->