{% extends "SafeComAppFrontend/index.html" %}


  {% block content %}
<h1>Edicion de Visitas</h1>

<form action="{% url 'doeditarVisita' %}" method="POST">

    {% csrf_token %}


 <div class="form-row">
    <div class="form-group col-md-2">
        <label for="visit_id">Numero de visita</label>
        <input type="text" class="form-control" id="visit_id" name="visit_id"  value="{{visit.visit_id}}" required readonly>
    </div>
 </div>
 <div class="form-row">
        <div class="form-group col-md-3">
            <label for="inputPlaca">Numero de placa</label>
            <input class="form-control" id="inputPlaca" name="inputPlaca" type="text" value="{{visit.plate.plate}}" required readonly>
        </div>
        <div class="form-group col-md-3">
            <label for="inputMarca">Marca</label>
            <input class="form-control" id="inputMarca" name="inputMarca" type="text" value="{{visit.plate.brand}}" required readonly>
        </div>
        <div class="form-group col-md-3">
            <label for="inputModelo">Modelo</label>
            <input class="form-control" id="inputModelo" name="inputModelo" type="text" value="{{visit.plate.model}}" required readonly>
        </div>
        <div class="form-group col-md-3">
            <label for="inputColor">Color</label>
            <input class="form-control" id="inputColor" name="inputColor" type="text" value="{{visit.plate.color}}" required readonly>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputCedula">Cedula</label>
            <input class="form-control" id="inputCedula" name="inputCedula" type="text" value="{{visit.plate.owner.identification}}" required readonly>
        </div>
        <div class="form-group col-md-4">
            <label for="inputNombreCompleto">Nombre del visitante</label>
            <input class="form-control" id="inputNombreCompleto" name="inputNombreCompleto" type="text" value="{{visit.plate.owner.name}}&nbsp;{{visit.plate.owner.first_lastname}}&nbsp;{{visit.plate.owner.second_lastname}}" required readonly>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputIncomingDate">Fecha de ingreso</label>
            <input type="text" class="toFormatDatetime form-control" id="inputIncomingDate" name="inputIncomingDate"  value="{{visit.incoming_date}}" required readonly>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputReason">Motivo</label>
            <textarea class="form-control" id="inputReason" name="inputReason" required>{{visit.reason}}</textarea>
        </div>
    </div>

    <button class="btn btn-secondary" type="submit">Actualizar</button>

</form>
<br>

{% block messages %}
    {% if success %}

        <div class="alert alert-success" role="alert">
            {{success}}
        </div>

    {% endif %}

    {% if error %}

        <div class="alert alert-danger" role="alert">
           {{error}}
        </div>

    {% endif %}

{% endblock %} <!-- END MESSAGES BLOCK -->


{% endblock %} <!-- End content sobreescrito -->