{% extends "SafeComAppFrontend/index.html" %}


  {% block content %}
<h1>Editar de Vehiculo</h1>

<form action="{% url 'doeditarVehiculo' %}" method="POST">

    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputOwner">Propietario</label>
            <input class="form-control" id="inputOwner" name="inputOwner" type="text" value="{{vehicle.owner.identification}}" required readonly>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputName">Nombre</label>
            <input class="form-control" id="inputName" name="inputName" type="text" value="{{vehicle.owner.name}}" required readonly>
        </div>
        <div class="form-group col-md-4">
            <label for="inputPrimerApe">Primer Apellido</label>
            <input class="form-control" id="inputPrimerApe" name="inputPrimerApe" type="text" value="{{vehicle.owner.first_lastname}}" required readonly>
        </div>
        <div class="form-group col-md-4">
            <label for="inputSegundoApe">Segundo Apellido</label>
            <input class="form-control" id="inputSegundoApe" name="inputSegundoApe" type="text" value="{{vehicle.owner.second_lastname}}" required readonly>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputPlate">Numero de placa</label>
            <input class="form-control" id="inputPlate" name="inputPlate" type="text" readonly value="{{vehicle.plate}}">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputBrand">Marca</label>
            <input class="form-control" id="inputBrand" name="inputBrand" type="text" required value="{{vehicle.brand}}">
        </div>
        <div class="form-group col-md-4">
            <label for="inputModel">Modelo</label>
            <input class="form-control" id="inputModel" name="inputModel" type="text" required value="{{vehicle.model}}">
        </div>
        <div class="form-group col-md-4">
            <label for="inputColor">Color</label>
            <input class="form-control" id="inputColor" name="inputColor" type="text" required value="{{vehicle.color}}">
        </div>
    </div>

    <button class="btn btn-secondary" type="submit">Editar</button>

</form>
<br>

{% block messages %}
    {% if success %}

        <div class="alert alert-success" role="alert">
            {{success}}
        </div>

    {% endif %}

    {% if error %}

        <div class="alert alert-danger" role="alert">
           {{error}}
        </div>

    {% endif %}

{% endblock %} <!-- END MESSAGES BLOCK -->



{% endblock %}