{% extends "SafeComAppFrontend/index.html" %}


  {% block content %}
<h1>Historial de visitas</h1>
  <table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Fecha de ingreso</th>
      <th scope="col">Fecha de salida</th>
      <th scope="col">Placa del vehiculo</th>
         <th scope="col">Identificacion</th>
        <th scope="col">Nombre del visitante</th>
        <th scope="col">Motivo</th>


      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>
            {% for visit in visits %}
            <tr>
                <td><input type="date" id="inDate" onload="setDateformatIN('{{visit.incoming_date}}')"></td>
                <td><input type="date" id="outDate" onload="setDateformatOUT ('{{visit.outgoing_date}}')"></td>
                <td>{{visit.plate.plate}}</td>
                <td>{{visit.plate.owner.identification}}</td>
                <td>{{visit.plate.owner.name}}</td>
                <td>{{visit.reason}}</td>
                <td>
                  <button type="button" class="btn btn-secondary">
                    <a class="btn" href="{% url 'editarVisita' %}?plate={{visit.plate.plate}}">Actualizar</a>
                  </button>
                  <button type="button" class="btn btn-secondary">
                  <a class="btn" href="{% url 'borrarVisita' %}?plate={{visit.plate.plate}}">Eliminar</a>
                  </button>
                </td>
            </tr>
            {% endfor %}
  </tbody>
</table>

{% block messages %}
    {% if success %}

        <div class="alert alert-success" role="alert">
            {{success}}
        </div>

    {% endif %}

    {% if error %}

        <div class="alert alert-danger" role="alert">
           {{error}}
        </div>

    {% endif %}

{% endblock %} <!-- END MESSAGES BLOCK -->

  {% endblock %}

<script>
    function setDateformatIN(date){
        var formatDate  = new Date(date);
        document.getElementById("inDate").value = formatDate)
    }

    function setDateformatOUT(date){
        var formatDate  =  new Date(date);
        document.getElementById("outDate").value = formatDate)
    }

</script>>