<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Historial de visitas</title>
</head>
<body>
 <h1>Historial de visitas</h1>
  <table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Fecha de ingreso</th>
      <th scope="col">Fecha de salida</th>
      <th scope="col">Identificacion del visitante</th>
      <th scope="col">Nombre del visitante</th>
      <th scope="col">Placa del vehiculo</th>
      <th scope="col">Motivo de visita</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>

            <tr>
                <td><input type="date"></td>
                <td><input type="date"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td>
                  <button type="button" class="btn btn-secondary">
                    <a class="btn" href="">Registar salida</a>
                  </button>
                  <button type="button" class="btn btn-secondary">
                  <a class="btn" href="">Eliminar</a>
                  </button>
                </td>
            </tr>

  </tbody>
</table>
</body>
</html>