{% extends "SafeComAppFrontend/index.html" %}


  {% block content %}
<h1>Lista de Vehiculos</h1>
 <table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Numero de placa</th>
      <th scope="col">Marca del vehiculo</th>
      <th scope="col">Modelo</th>
      <th scope="col">Color</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>

            <tr>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td>
                  <button type="button" class="btn btn-secondary">
                    <a class="btn" href="">Actualizar</a>
                  </button>
                  <button type="button" class="btn btn-secondary">
                  <a class="btn" href="">Eliminar</a>
                  </button>
                </td>
            </tr>

  </tbody>
</table>

{% block messages %}
    {% if success %}

        <div class="alert alert-success" role="alert">
            {{success}}
        </div>

    {% endif %}

    {% if error %}

        <div class="alert alert-danger" role="alert">
           {{error}}
        </div>

    {% endif %}

{% endblock %} <!-- END MESSAGES BLOCK -->

  {% endblock %}