<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bloqueados</title>
</head>
<body>
 <h1>Personas con acceso restringido</h1>
  <table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Numero de identificacion</th>
      <th scope="col">Nombre</th>
      <th scope="col">Numero de palca</th>
      <th scope="col">Marca del vehiculo</th>
      <th scope="col">Color del vehiculo</th>
      <th scope="col">Modelo del vehiculo</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>

            <tr>
                <td><input type="date"></td>
                <td><input type="date"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td>
                  <button type="button" class="btn btn-secondary">
                    <a class="btn" href="">Actualizar</a>
                  </button>
                  <button type="button" class="btn btn-secondary">
                  <a class="btn" href="">Eliminar</a>
                  </button>
                </td>
            </tr>

  </tbody>
</table>
</body>
</html>