{% extends "SafeComAppFrontend/index.html" %}


  {% block content %}
<h1>Lista de Vehiculos</h1>
 <table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Numero de placa</th>
      <th scope="col">Marca del vehiculo</th>
      <th scope="col">Modelo</th>
      <th scope="col">Color</th>
      <th scope="col">Cedula Dueño</th>
      <th scope="col">Nombre Dueño</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>
            {% for vehicle in vehicles %}
            <tr>
                <td>{{vehicle.plate}}</td>
                <td>{{vehicle.brand}}</td>
                <td>{{vehicle.model}}</td>
                <td>{{vehicle.color}}</td>
                <td>{{vehicle.owner.identification}}</td>
                <td>{{vehicle.owner.name}}</td>
                <td>
                  <button type="button" class="btn btn-secondary">
                    <a class="btn" href="{% url 'editarVehiculo' %}?plate={{vehicle.plate}}">Actualizar</a>
                  </button>
                  <button type="button" class="btn btn-secondary">
                  <a class="btn" href="{% url 'borrarVehiculo' %}?plate={{vehicle.plate}}">Eliminar</a>
                  </button>
                </td>
            </tr>
            {% endfor %}
  </tbody>
</table>

{% block messages %}
    {% if success %}

        <div class="alert alert-success" role="alert">
            {{success}}
        </div>

    {% endif %}

    {% if error %}

        <div class="alert alert-danger" role="alert">
           {{error}}
        </div>

    {% endif %}

{% endblock %} <!-- END MESSAGES BLOCK -->

  {% endblock %}