{% extends "SafeComAppFrontend/index.html" %}


  {% block content %}
<h1>Lista de Bloqueos</h1>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Cedula</th>
      <th scope="col">Nombre</th>
      <th scope="col">Primer Apellido</th>
      <th scope="col">Segundo Apellido</th>
      <th scope="col">Razon</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
        {% for bloqueo in bloqueos %}
            <tr>
                <td>{{bloqueo.visitor.identification}}</td>
                <td>{{bloqueo.visitor.name}}</td>
                <td>{{bloqueo.visitor.first_lastname}}</td>
                <td>{{bloqueo.visitor.second_lastname}}</td>
                <td>{{bloqueo.reason}}</td>
                <td>
                  <button type="button" class="btn btn-secondary">
                  <a class="btn" href="{% url 'borrarBloqueo' %}?identification={{bloqueo.visitor.identification}}">Desbloquear</a>
                  </button>
                </td>
            </tr>
        {% endfor %}
  </tbody>
</table>

{% block messages %}
    {% if success %}

        <div class="alert alert-success" role="alert">
            {{success}}
        </div>

    {% endif %}

    {% if error %}

        <div class="alert alert-danger" role="alert">
           {{error}}
        </div>

    {% endif %}

{% endblock %} <!-- END MESSAGES BLOCK -->

  {% endblock %}