{% extends "SafeComAppFrontend/index.html" %}


  {% block content %}
<h1>Registro de Visitas</h1>

<form action="{% url 'doregistroVisita' %}" method="POST">

    {% csrf_token %}

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#tablaVehiclesModal">
        Buscar Placa del vehiculo
    </button>


    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="inputPlaca">Numero de placa</label>
            <input class="form-control" id="inputPlaca" name="inputPlaca" type="text" required readonly>
        </div>
        <div class="form-group col-md-3">
            <label for="inputMarca">Marca</label>
            <input class="form-control" id="inputMarca" name="inputMarca" type="text" required readonly>
        </div>
        <div class="form-group col-md-3">
            <label for="inputModelo">Modelo</label>
            <input class="form-control" id="inputModelo" name="inputModelo" type="text" required readonly>
        </div>
        <div class="form-group col-md-3">
            <label for="inputColor">Color</label>
            <input class="form-control" id="inputColor" name="inputColor" type="text" required readonly>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputCedula">Cedula</label>
            <input class="form-control" id="inputCedula" name="inputCedula" type="text" required readonly>
        </div>
        <div class="form-group col-md-4">
            <label for="inputNombreCompleto">Nombre del visitante</label>
            <input class="form-control" id="inputNombreCompleto" name="inputNombreCompleto" type="text" required readonly>
        </div>
    </div>
<!--
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputIncomingDate">Fecha de ingreso</label>
            <input type="date" class="form-control" id="inputIncomingDate" name="inputIncomingDate"  required>
        </div>
        <div class="form-group col-md-2">
            <label for="inputIncomingDateHour">Hora de ingreso</label>
            <input type="time" class="form-control" id="inputIncomingDateHour" name="inputIncomingDateHour"  required>
        </div>
    </div>
-->
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputReason">Motivo</label>
            <textarea class="form-control" id="inputReason" name="inputReason" required></textarea>
        </div>
    </div>

    <button class="btn btn-secondary" type="submit">Registrar</button>

</form>
<br>

{% block messages %}
    {% if success %}

        <div class="alert alert-success" role="alert">
            {{success}}
        </div>

    {% endif %}

    {% if error %}

        <div class="alert alert-danger" role="alert">
           {{error}}
        </div>

    {% endif %}

{% endblock %} <!-- END MESSAGES BLOCK -->


<!-- Modal -->

<div id="tablaVehiclesModal" class="modal">
     <div class="modal-content">
            <div class="modal-header">
                <h1 class="col-12 modal-title text-center">
                    Seleccionar Vehiculo
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h1>
            </div>
            <div class="modal-body">
                <div class="container-fluid text-center">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-striped" id="tablaPersonas">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Placa</th>
                                        <th scope="col">Marca</th>
                                        <th scope="col">Modelo</th>
                                        <th scope="col">Color</th>
                                        <th scope="col">Cédula</th>
                                        <th scope="col">Dueño</th>
                                        <th scope="col">Accion</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for vehicle in vehicles %}
                                    <tr>
                                        <td>{{vehicle.plate}}</td>
                                        <td>{{vehicle.brand}}</td>
                                        <td>{{vehicle.model}}</td>
                                        <td>{{vehicle.color}}</td>
                                        <td>{{vehicle.owner.identification}}</td>
                                        <td>{{vehicle.owner.name}}&nbsp;{{vehicle.owner.first_lastname}}&nbsp;{{vehicle.owner.second_lastname}}</td>
                                        <td>
                                            <button type="button" class="btn btn-secondary" id="seleccionadorVehicle">
                                                <span>Seleccionar</span>
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <input id="isSubmit" type="hidden" value="false"/>
                            <input id="cedulax" type="hidden"/>
                            <input id="nombrex" type="hidden"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>

<style>
     .modal-bigger{
            max-width: 80% !important;
     }
</style>

{% endblock %} <!-- End content sobreescrito -->